button.nav-link {
    background: #9ecef9;
    border-radius: 0;
    border: none;
    &:focus {
        outline: none;
    }
    &.active:hover {
        color: white;
    }
    &:active {
        outline: none;
    }

    &.active:focus {
        outline: none;
    }


}